// ••[1]••••••••••••••••••••••••• album-list.component.scss •••••••••••••••••••••••••••••• //

/* stylelint-disable selector-pseudo-element-no-unknown */

/* stylelint-disable max-nesting-depth */

/* stylelint-disable selector-no-qualifying-type */
mat-form-field {
	width: 100%;
}

mat-spinner {
	left: 50vw;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
	top: 50vh;
}

mat-grid-tile {
	border: 2px solid var(--divider);
	overflow: auto;
	text-align: left;

	&.without-border {
		border: 0;
	}

	::ng-deep .mat-grid-tile-content {
		display: block;
		padding: 1em;

		mat-list {
			padding-bottom: 3em;
		}
	}
}
