// ••[1]••••••••••••••••••••••••• album-list.component.scss •••••••••••••••••••••••••••••• //
mat-form-field {
	width: 100%;
}

mat-spinner {
	left: 50vw;
	margin-left: -20px;
	margin-top: -20px;
	position: absolute;
	top: 50vh;
}
