<!-- ••[1]••••••••••••••••••••••••• user-list.component.html •••••••••••••••••••••••••••••• -->

<mat-card
  *ngIf="isAtLeastMediumBreakpoint$ | async as isAtLeastMediumBreakpoint"
>
  <mat-card-header>
    <mat-card-title>{{ titleLabel | uppercase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ contentLabel }}</p>

    <!-- Filter -->
    <mat-form-field>
      <mat-label>{{ filterLabel }}</mat-label>
      <input #filterRef matInput type="text" [(ngModel)]="filterRef.value" />
      <button
        #clearFilterRef
        [ngStyle]="{
          opacity: filterRef.value ? 1 : 0,
          pointerEvents: filterRef.value ? 'all' : 'none'
        }"
        matSuffix
        mat-icon-button
        (click)="filterRef.value ? (filterRef.value = '') : null"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <ng-container
      *ngIf="filteredUsersId$ | async as filteredUsersId; else loadingRef"
    >
      <mat-grid-list
        [cols]="
          routerOutletIsActivated
            ? isAtLeastMediumBreakpoint.matches
              ? 3
              : 1
            : 1
        "
        gutterSize="16"
        [rowHeight]="
          routerOutletIsActivated
            ? isAtLeastMediumBreakpoint.matches
              ? 600
              : '3:2'
            : '1:2'
        "
      >
        <mat-grid-tile
          [colspan]="
            routerOutletIsActivated
              ? isAtLeastMediumBreakpoint.matches
                ? 2
                : 1
              : 1
          "
        >
          <!-- List -->
          <mat-list *ngIf="filteredUsersId.length; else noUsersRef">
            <div mat-subheader>{{ listTitleLabel }}</div>
            <mat-list-item
              *ngFor="let filteredUsersId of filteredUsersId"
              (click)="selectUser(filteredUsersId.id)"
            >
              <mat-icon matListItemIcon>account_circle</mat-icon>
              <div matListItemTitle>{{ filteredUsersId.name | titlecase }}</div>
              <div matListItemLine>{{ filteredUsersId.email }}</div>
            </mat-list-item>
          </mat-list>
        </mat-grid-tile>
        <mat-grid-tile
          [colspan]="routerOutletIsActivated ? 1 : 0"
          [class.without-border]="!routerOutletIsActivated"
        >
          <!-- Child route outlet -->
          <router-outlet
            (activate)="toggleRouterOutletIsActivated(true)"
            (deactivate)="toggleRouterOutletIsActivated(false)"
          ></router-outlet>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>
  </mat-card-content>
</mat-card>

<!-- No users -->
<ng-template #noUsersRef>
  <mat-card>
    <mat-card-content>{{ noUsersLabel }}</mat-card-content>
  </mat-card>
</ng-template>

<!-- Loading -->
<ng-template #loadingRef>
  <mat-spinner color="accent" [diameter]="40"></mat-spinner>
</ng-template>
