<!-- ••[1]••••••••••••••••••••••••• app.component.html •••••••••••••••••••••••••••••• -->

<mat-toolbar>
  <span class="app-name" routerLink="/">{{ appNameLabel }}</span>
  <mat-slide-toggle
    checked
    hideIcon
    labelPosition="before"
    (change)="themeChangeHandler($event)"
    >{{ themeToggleLabel }}
  </mat-slide-toggle>
</mat-toolbar>

<nav
  mat-tab-nav-bar
  [tabPanel]="matTabNavPanelRef"
  *ngIf="hideMatTabNavBar$ | async"
>
  <a
    mat-tab-link
    *ngFor="let link of links"
    [routerLink]="link.path"
    [routerLinkActiveOptions]="{ exact: link.exact || false }"
    routerLinkActive
    #routerLinkActiveRef="routerLinkActive"
    [active]="routerLinkActiveRef.isActive"
  >
    {{ link.label }}
  </a>
</nav>
<mat-tab-nav-panel #matTabNavPanelRef>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
