<!-- ••[1]••••••••••••••••••••••••• app.component.html •••••••••••••••••••••••••••••• -->

<mat-toolbar>
  <span class="app-name" routerLink="/"
    >{{ appNameLabel }},

    <div class="logged-status">
      <ng-container
        *ngIf="
          authenticateSystemUserService.loggedAs$ | async as loggedAs;
          else notLogged
        "
      >
        <div [ngSwitch]="loggedAs">
          <div
            *ngSwitchCase="systemUserTypeE.regularUser"
            [innerHTML]="loggedAsRegularUserLabel | sanitizeHtml"
          ></div>
          <div
            *ngSwitchCase="systemUserTypeE.adminUser"
            [innerHTML]="loggedAsAdminUserLabel | sanitizeHtml"
          ></div>
        </div>
      </ng-container>
      <ng-template #notLogged>
        <div [innerHTML]="notLoggedLabel | sanitizeHtml"></div>
      </ng-template>
    </div>
  </span>
  <mat-slide-toggle
    checked
    hideIcon
    labelPosition="before"
    (change)="themeChangeHandler($event)"
    >{{ themeToggleLabel }}
  </mat-slide-toggle>
</mat-toolbar>

<nav
  mat-tab-nav-bar
  [tabPanel]="matTabNavPanelRef"
  *ngIf="hideMatTabNavBar$ | async"
>
  <ng-container *ngIf="loggedAs$ | async as loggedAs">
    <ng-container *ngFor="let link of links">
      <a
        *ngIf="link.visible.includes(loggedAs)"
        mat-tab-link
        [routerLink]="link.path"
        [routerLinkActiveOptions]="{ exact: link.exact || false }"
        routerLinkActive
        #routerLinkActiveRef="routerLinkActive"
        [active]="routerLinkActiveRef.isActive"
      >
        {{ link.label }}
      </a>
    </ng-container>
  </ng-container>
</nav>
<mat-tab-nav-panel #matTabNavPanelRef>
  <router-outlet></router-outlet>
</mat-tab-nav-panel>
