// ••[1]••••••••••••••••••••••••• app.component.scss •••••••••••••••••••••••••••••• //

/* stylelint-disable selector-no-qualifying-type */
.app-name {
	align-items: baseline;
	cursor: pointer;
	display: flex;
	flex: 1 1 auto;

	.logged-status {
		color: var(--primary);
		font-size: 0.7em;
		margin-left: 1em;
		opacity: 0.7;
	}
}

nav[mat-tab-nav-bar] {
	margin: 1em
}

mat-tab-nav-panel {
	display: block;
	margin: 1em;
}
