<!-- ••[1]••••••••••••••••••••••••• home.component.html •••••••••••••••••••••••••••••• -->

<mat-card>
  <mat-card-header>
    <mat-card-title>{{ titleLabel | uppercase }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>{{ contentLabel }}</p>

    <div class="log-buttons">
      <ng-container
        *ngIf="
          authenticateSystemUserService.loggedAs$ | async as loggedAs;
          else notLogged
        "
      >
        <button
          mat-stroked-button
          color="accent"
          (click)="authenticateSystemUserService.logOut()"
        >
          {{ logOutLabel }}
        </button>
      </ng-container>
      <ng-template #notLogged>
        <button
          mat-stroked-button
          color="accent"
          [innerHTML]="logAsRegularUserLabel | sanitizeHtml"
          (click)="
            authenticateSystemUserService.logInAs(systemUserTypeE.regularUser)
          "
        ></button>
        <button
          mat-stroked-button
          color="accent"
          [innerHTML]="logAsAdminUserLabel | sanitizeHtml"
          (click)="
            authenticateSystemUserService.logInAs(systemUserTypeE.adminUser)
          "
        ></button>
      </ng-template>
    </div>
    <mat-divider></mat-divider>
    <div class="navigation-buttons">
      <button
        mat-stroked-button
        color="primary"
        [innerHTML]="goToAlbumsLabel | sanitizeHtml"
        [routerLink]="['albums']"
      ></button>
      <button
        mat-stroked-button
        color="primary"
        [innerHTML]="goToUsersLabel | sanitizeHtml"
        [routerLink]="['users']"
      ></button>
      <button
        mat-stroked-button
        color="primary"
        [innerHTML]="goToAlbumDetail1Label | sanitizeHtml"
        [routerLink]="['albums', '1']"
      ></button>
      <button
        mat-stroked-button
        color="primary"
        [innerHTML]="goToUserDetail1Label | sanitizeHtml"
        [routerLink]="['users', '1']"
      ></button>
    </div>
  </mat-card-content>
</mat-card>
