// ••[1]••••••••••••••••••••••••• styles.scss •••••••••••••••••••••••••••••• //

/* stylelint-disable selector-no-qualifying-type */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@use '@angular/material'as mat;

@use "sass:color";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!

@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$exercise-part3-primary: mat.define-palette(mat.$deep-purple-palette);
$exercise-part3-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$exercise-part3-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$exercise-part3-light-theme: mat.define-light-theme((color: (primary: $exercise-part3-primary,
			accent: $exercise-part3-accent,
			warn: $exercise-part3-warn,
		)));

$exercise-part3-dark-theme: mat.define-dark-theme((color: (primary: $exercise-part3-primary,
			accent: $exercise-part3-accent,
			warn: $exercise-part3-warn,
		)));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@include mat.all-component-typographies();

@include mat.all-component-themes($exercise-part3-light-theme);

html,
body {
	height: 100%;
}

body {
	--divider: #{mat.get-theme-color($exercise-part3-light-theme, foreground, divider)};
	--scrollbar-button: #{mat.get-theme-color($exercise-part3-light-theme, primary, default)};
	--scrollbar-track-piece : #{rgba(mat.get-theme-color($exercise-part3-light-theme, primary, default), .20)};
	--scrollbar-thumb : #{rgba(mat.get-theme-color($exercise-part3-light-theme, accent, default), .30)};
	background: mat.get-theme-color($exercise-part3-light-theme, background, background);
	font-family: Roboto, "Helvetica Neue", sans-serif;
	margin: 0;



	// ••[2]•••••••••• Scrollbar •••••••••••••••//
	::-webkit-scrollbar,
	&::-webkit-scrollbar {
		height: 6px;
		width: 6px;
	}

	// Button up, button down
	::-webkit-scrollbar-button,
	&::-webkit-scrollbar-button {
		background: var(--scrollbar-button);
		cursor: pointer;
	}

	// All the track
	::-webkit-scrollbar-track-piece,
	&::-webkit-scrollbar-track-piece {
		background: var(--scrollbar-track-piece);
	}

	// Indicator
	::-webkit-scrollbar-thumb,
	&::-webkit-scrollbar-thumb {
		background: var(--scrollbar-thumb);
	}


	&.dark {
		--divider: #{mat.get-theme-color($exercise-part3-dark-theme, foreground, divider)};
		--scrollbar-button: #{mat.get-theme-color($exercise-part3-dark-theme, primary, default)};
		--scrollbar-track-piece : #{rgba(mat.get-theme-color($exercise-part3-dark-theme, primary, default), .20)};
		--scrollbar-thumb : #{rgba(mat.get-theme-color($exercise-part3-dark-theme, accent, default), .30)};

		@include mat.all-component-colors($exercise-part3-dark-theme);
		background: mat.get-theme-color($exercise-part3-dark-theme, background, background);
		color: mat.get-theme-color($exercise-part3-dark-theme, foreground, text);
	}
	;
}
